* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #525252;
    position: relative;
    height: 100vh;
    color: #fff;
}

.todo-block {
    display: flex;
    flex-direction: column;

    padding: 25px;
    margin: 20px auto;
    background-color: #eee;
    color: #000;
    transition: all 0.2s ease;
}

.todo-block:hover {
    background-color: #aaa;
}

.todo-block h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}

.todo-block .status {
    text-align: right;
    font-weight: 100;
}

.todos {
    background-color: white;
    width: 700px;
    margin: 20px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
}

.inputTask {
    width: 100%;
    margin: 10px 0;
    border: 1px #525252 solid;
    color: #000;
    padding: 10px 15px;
    font-size: 16px;
}

.TextareaTask {
    width: 100%;
    height: 100px;
    max-width: 100%;
    margin: 10px 0;
    border: 1px #525252 solid;
    padding: 10px 15px;
    font-size: 16px;
    resize: none;
}

.formTasks .inputTask:focus, .TextareaTask:focus {
    outline: none;
    background-color: #eee;
}

.submitBtn__wrapper button {
    background-color: #555555;
    border: none;
    color: white;
    outline: none;
    box-shadow: none;
    padding: 14px 24px;
    margin: 10px 0;
    font-size: 16px;
    transition: all .2s ease;
    width: 100%;
}

.submitBtn__wrapper button:hover {
    background-color: #656565;
    cursor: pointer;
}

.submitBtn__wrapper {
    display: flex;
    justify-content: center;
}

.description {
    word-break: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

.todoButtons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.deleteTaskBtn {
    float: right;
    transform: scale(1.5);
    color: #000;

    transition: all 0.2s ease-in-out;
}

.todoButtons .deleteTaskBtn:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.task {
    max-width: 400px;
    margin: 30px auto 0;
    background: #333;
    padding: 20px;
}

.task-page .task-name {
    margin: 10px 0;
}

.task-page .task-description, .task-page .task-time {
    margin: 10px 0;
}

.button-back, .button-back button {
    background-color: #221;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 20px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.editTaskBtn {
    float: right;
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}

.editTaskBtn:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.task-time {
    text-align: right;
}

.update-task-form {
    max-width: 500px;
    margin: 30px auto 0;
    background: #333;
}